In [1]:
# Import Package 
import numpy as np
import pandas as pd

In [2]:
# Load Data
# We will use Iris Data about Flower Type and their size

cols = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'flower_class']

df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', names=cols)
df.head()

   sepal_length  sepal_width  petal_length  petal_width flower_class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [3]:
# If you want to create the copy of your initial dataframe first
df_copy = df.copy()

In [ ]:
df_copy = df #not suggested

In [5]:
## Get Selected Column (1st way)
## head attribute is to get the top n (n can be customized) rows 

df[ ['sepal_length','sepal_width'] ].tail(10)

     sepal_length  sepal_width
140           6.7          3.1
141           6.9          3.1
142           5.8          2.7
143           6.8          3.2
144           6.7          3.3
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

In [ ]:
# Get selected columns (2nd way)

df.filter(items = ['sepal_length', 'sepal_width'])

     sepal_length  sepal_width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

In [ ]:
# Filter by one condition

df[df.flower_class == 'Iris-setosa']

    sepal_length  sepal_width  petal_length  petal_width flower_class
0            5.1          3.5           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
4            5.0          3.6           1.4          0.2  Iris-setosa
5            5.4          3.9           1.7          0.4  Iris-setosa
6            4.6          3.4           1.4          0.3  Iris-setosa
7            5.0          3.4           1.5          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
9            4.9          3.1           1.5          0.1  Iris-setosa
10           5.4          3.7           1.5          0.2  Iris-setosa
11           4.8          3.4           1.6          0.2  Iris-setosa
12           4.8          3.0           1.4          0.1  Iris-setosa
13           4.3          3.0           1.1          0.1  Iris-setosa
14           5.8          4.0           1.2          0.2  Iris-setosa
15           5.7          4.4           1.5          0.4  Iris-setosa
16           5.4          3.9           1.3          0.4  Iris-setosa
17           5.1          3.5           1.4          0.3  Iris-setosa
18           5.7          3.8           1.7          0.3  Iris-setosa
19           5.1          3.8           1.5          0.3  Iris-setosa
20           5.4          3.4           1.7          0.2  Iris-setosa
21           5.1          3.7           1.5          0.4  Iris-setosa
22           4.6          3.6           1.0          0.2  Iris-setosa
23           5.1          3.3           1.7          0.5  Iris-setosa
24           4.8          3.4           1.9          0.2  Iris-setosa
25           5.0          3.0           1.6          0.2  Iris-setosa
26           5.0          3.4           1.6          0.4  Iris-setosa
27           5.2          3.5           1.5          0.2  Iris-setosa
28           5.2          3.4           1.4          0.2  Iris-setosa
29           4.7          3.2           1.6          0.2  Iris-setosa
30           4.8          3.1           1.6          0.2  Iris-setosa
31           5.4          3.4           1.5          0.4  Iris-setosa
32           5.2          4.1           1.5          0.1  Iris-setosa
33           5.5          4.2           1.4          0.2  Iris-setosa
34           4.9          3.1           1.5          0.1  Iris-setosa
35           5.0          3.2           1.2          0.2  Iris-setosa
36           5.5          3.5           1.3          0.2  Iris-setosa
37           4.9          3.1           1.5          0.1  Iris-setosa
38           4.4          3.0           1.3          0.2  Iris-setosa
39           5.1          3.4           1.5          0.2  Iris-setosa
40           5.0          3.5           1.3          0.3  Iris-setosa
41           4.5          2.3           1.3          0.3  Iris-setosa
42           4.4          3.2           1.3          0.2  Iris-setosa
43           5.0          3.5           1.6          0.6  Iris-setosa
44           5.1          3.8           1.9          0.4  Iris-setosa
45           4.8          3.0           1.4          0.3  Iris-setosa
46           5.1          3.8           1.6          0.2  Iris-setosa
47           4.6          3.2           1.4          0.2  Iris-setosa
48           5.3          3.7           1.5          0.2  Iris-setosa
49           5.0          3.3           1.4          0.2  Iris-setosa

In [ ]:
# Filter by one condition

df[df['flower_class'] == 'Iris-setosa']

    sepal_length  sepal_width  petal_length  petal_width flower_class
0            5.1          3.5           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
4            5.0          3.6           1.4          0.2  Iris-setosa
5            5.4          3.9           1.7          0.4  Iris-setosa
6            4.6          3.4           1.4          0.3  Iris-setosa
7            5.0          3.4           1.5          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
9            4.9          3.1           1.5          0.1  Iris-setosa
10           5.4          3.7           1.5          0.2  Iris-setosa
11           4.8          3.4           1.6          0.2  Iris-setosa
12           4.8          3.0           1.4          0.1  Iris-setosa
13           4.3          3.0           1.1          0.1  Iris-setosa
14           5.8          4.0           1.2          0.2  Iris-setosa
15           5.7          4.4           1.5          0.4  Iris-setosa
16           5.4          3.9           1.3          0.4  Iris-setosa
17           5.1          3.5           1.4          0.3  Iris-setosa
18           5.7          3.8           1.7          0.3  Iris-setosa
19           5.1          3.8           1.5          0.3  Iris-setosa
20           5.4          3.4           1.7          0.2  Iris-setosa
21           5.1          3.7           1.5          0.4  Iris-setosa
22           4.6          3.6           1.0          0.2  Iris-setosa
23           5.1          3.3           1.7          0.5  Iris-setosa
24           4.8          3.4           1.9          0.2  Iris-setosa
25           5.0          3.0           1.6          0.2  Iris-setosa
26           5.0          3.4           1.6          0.4  Iris-setosa
27           5.2          3.5           1.5          0.2  Iris-setosa
28           5.2          3.4           1.4          0.2  Iris-setosa
29           4.7          3.2           1.6          0.2  Iris-setosa
30           4.8          3.1           1.6          0.2  Iris-setosa
31           5.4          3.4           1.5          0.4  Iris-setosa
32           5.2          4.1           1.5          0.1  Iris-setosa
33           5.5          4.2           1.4          0.2  Iris-setosa
34           4.9          3.1           1.5          0.1  Iris-setosa
35           5.0          3.2           1.2          0.2  Iris-setosa
36           5.5          3.5           1.3          0.2  Iris-setosa
37           4.9          3.1           1.5          0.1  Iris-setosa
38           4.4          3.0           1.3          0.2  Iris-setosa
39           5.1          3.4           1.5          0.2  Iris-setosa
40           5.0          3.5           1.3          0.3  Iris-setosa
41           4.5          2.3           1.3          0.3  Iris-setosa
42           4.4          3.2           1.3          0.2  Iris-setosa
43           5.0          3.5           1.6          0.6  Iris-setosa
44           5.1          3.8           1.9          0.4  Iris-setosa
45           4.8          3.0           1.4          0.3  Iris-setosa
46           5.1          3.8           1.6          0.2  Iris-setosa
47           4.6          3.2           1.4          0.2  Iris-setosa
48           5.3          3.7           1.5          0.2  Iris-setosa
49           5.0          3.3           1.4          0.2  Iris-setosa

In [ ]:
# Filter by one condition using loc

df.loc[df.flower_class == 'Iris-setosa'].head()

   sepal_length  sepal_width  petal_length  petal_width flower_class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [ ]:
# Filer multiple conditions using loc

df.loc[ (df.flower_class == 'Iris-setosa') & (df.sepal_length == 5.1) ]

    sepal_length  sepal_width  petal_length  petal_width flower_class
0            5.1          3.5           1.4          0.2  Iris-setosa
17           5.1          3.5           1.4          0.3  Iris-setosa
19           5.1          3.8           1.5          0.3  Iris-setosa
21           5.1          3.7           1.5          0.4  Iris-setosa
23           5.1          3.3           1.7          0.5  Iris-setosa
39           5.1          3.4           1.5          0.2  Iris-setosa
44           5.1          3.8           1.9          0.4  Iris-setosa
46           5.1          3.8           1.6          0.2  Iris-setosa

In [ ]:
# Filter multiple conditions not using loc

df[(df.flower_class == 'Iris-setosa') | (df.sepal_length == 5.1)]

    sepal_length  sepal_width  petal_length  petal_width     flower_class
0            5.1          3.5           1.4          0.2      Iris-setosa
1            4.9          3.0           1.4          0.2      Iris-setosa
2            4.7          3.2           1.3          0.2      Iris-setosa
3            4.6          3.1           1.5          0.2      Iris-setosa
4            5.0          3.6           1.4          0.2      Iris-setosa
5            5.4          3.9           1.7          0.4      Iris-setosa
6            4.6          3.4           1.4          0.3      Iris-setosa
7            5.0          3.4           1.5          0.2      Iris-setosa
8            4.4          2.9           1.4          0.2      Iris-setosa
9            4.9          3.1           1.5          0.1      Iris-setosa
10           5.4          3.7           1.5          0.2      Iris-setosa
11           4.8          3.4           1.6          0.2      Iris-setosa
12           4.8          3.0           1.4          0.1      Iris-setosa
13           4.3          3.0           1.1          0.1      Iris-setosa
14           5.8          4.0           1.2          0.2      Iris-setosa
15           5.7          4.4           1.5          0.4      Iris-setosa
16           5.4          3.9           1.3          0.4      Iris-setosa
17           5.1          3.5           1.4          0.3      Iris-setosa
18           5.7          3.8           1.7          0.3      Iris-setosa
19           5.1          3.8           1.5          0.3      Iris-setosa
20           5.4          3.4           1.7          0.2      Iris-setosa
21           5.1          3.7           1.5          0.4      Iris-setosa
22           4.6          3.6           1.0          0.2      Iris-setosa
23           5.1          3.3           1.7          0.5      Iris-setosa
24           4.8          3.4           1.9          0.2      Iris-setosa
25           5.0          3.0           1.6          0.2      Iris-setosa
26           5.0          3.4           1.6          0.4      Iris-setosa
27           5.2          3.5           1.5          0.2      Iris-setosa
28           5.2          3.4           1.4          0.2      Iris-setosa
29           4.7          3.2           1.6          0.2      Iris-setosa
30           4.8          3.1           1.6          0.2      Iris-setosa
31           5.4          3.4           1.5          0.4      Iris-setosa
32           5.2          4.1           1.5          0.1      Iris-setosa
33           5.5          4.2           1.4          0.2      Iris-setosa
34           4.9          3.1           1.5          0.1      Iris-setosa
35           5.0          3.2           1.2          0.2      Iris-setosa
36           5.5          3.5           1.3          0.2      Iris-setosa
37           4.9          3.1           1.5          0.1      Iris-setosa
38           4.4          3.0           1.3          0.2      Iris-setosa
39           5.1          3.4           1.5          0.2      Iris-setosa
40           5.0          3.5           1.3          0.3      Iris-setosa
41           4.5          2.3           1.3          0.3      Iris-setosa
42           4.4          3.2           1.3          0.2      Iris-setosa
43           5.0          3.5           1.6          0.6      Iris-setosa
44           5.1          3.8           1.9          0.4      Iris-setosa
45           4.8          3.0           1.4          0.3      Iris-setosa
46           5.1          3.8           1.6          0.2      Iris-setosa
47           4.6          3.2           1.4          0.2      Iris-setosa
48           5.3          3.7           1.5          0.2      Iris-setosa
49           5.0          3.3           1.4          0.2      Iris-setosa
98           5.1          2.5           3.0          1.1  Iris-versicolor

In [ ]:
# Filter dataframe based on multiple condition then get selected columns
# The syntax format : filter condition first, then the columns

df.loc[ (df.flower_class == 'Iris-setosa') & (df.sepal_length == 5.1) , ['flower_class', 'sepal_length']]

   flower_class  sepal_length
0   Iris-setosa           5.1
17  Iris-setosa           5.1
19  Iris-setosa           5.1
21  Iris-setosa           5.1
23  Iris-setosa           5.1
39  Iris-setosa           5.1
44  Iris-setosa           5.1
46  Iris-setosa           5.1

In [ ]:
# Assign new value to existing columns
# Syntax format : condition first, then column that we want to assign, then the value that we will assign

df.loc[(df.flower_class == 'Iris-setosa'), ['flower_class']] = 'Flower Class V2'
df.head()

   sepal_length  sepal_width  petal_length  petal_width     flower_class
0           5.1          3.5           1.4          0.2  Flower Class V2
1           4.9          3.0           1.4          0.2  Flower Class V2
2           4.7          3.2           1.3          0.2  Flower Class V2
3           4.6          3.1           1.5          0.2  Flower Class V2
4           5.0          3.6           1.4          0.2  Flower Class V2

In [ ]:
# Assign new value to existing columns
# Syntax format : condition first, then column that we want to assign, then the value that we will assign

df.loc[(df.flower_class == 'Flower Class V2'), ['petal_width']] = 0
df.head()

   sepal_length  sepal_width  petal_length  petal_width     flower_class
0           5.1          3.5           1.4          0.0  Flower Class V2
1           4.9          3.0           1.4          0.0  Flower Class V2
2           4.7          3.2           1.3          0.0  Flower Class V2
3           4.6          3.1           1.5          0.0  Flower Class V2
4           5.0          3.6           1.4          0.0  Flower Class V2

In [ ]:
# Assign multiple values to multiple columns
# Syntax format : condition first, then column that we want to assign, then the value that we will assign

df.loc[(df.flower_class == 'Flower Class V2'), ['petal_length', 'sepal_length']] = [100, -99]
df.head()

   sepal_length  sepal_width  petal_length  petal_width     flower_class
0         -99.0          3.5         100.0          0.0  Flower Class V2
1         -99.0          3.0         100.0          0.0  Flower Class V2
2         -99.0          3.2         100.0          0.0  Flower Class V2
3         -99.0          3.1         100.0          0.0  Flower Class V2
4         -99.0          3.6         100.0          0.0  Flower Class V2

In [ ]:
# Re-Load the dataframe

cols = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'flower_class']
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', names=cols)

df.head()

   sepal_length  sepal_width  petal_length  petal_width flower_class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [ ]:
# Filter using isin() function
df.loc[ df.flower_class.isin(['Iris-setosa', 'Iris-virginica']), ['flower_class', 'sepal_length']]

       flower_class  sepal_length
0       Iris-setosa           5.1
1       Iris-setosa           4.9
2       Iris-setosa           4.7
3       Iris-setosa           4.6
4       Iris-setosa           5.0
..              ...           ...
145  Iris-virginica           6.7
146  Iris-virginica           6.3
147  Iris-virginica           6.5
148  Iris-virginica           6.2
149  Iris-virginica           5.9

[100 rows x 2 columns]

In [ ]:
# Get some rows

df.iloc[[0,3]]

   sepal_length  sepal_width  petal_length  petal_width flower_class
0           5.1          3.5           1.4          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa

In [ ]:
# Get range of rows

df.iloc[0:3]

   sepal_length  sepal_width  petal_length  petal_width flower_class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa

In [ ]:
# Get range of rows and range of columns

df.iloc[[0,2],[1,3]]

   sepal_width  petal_width
0          3.5          0.2
2          3.2          0.2

In [ ]:
# Add additional column

df['sepal_length_v2'] = df['sepal_length'] * 100
df

     sepal_length  sepal_width  ...    flower_class  sepal_length_v2
0             5.1          3.5  ...     Iris-setosa            510.0
1             4.9          3.0  ...     Iris-setosa            490.0
2             4.7          3.2  ...     Iris-setosa            470.0
3             4.6          3.1  ...     Iris-setosa            460.0
4             5.0          3.6  ...     Iris-setosa            500.0
..            ...          ...  ...             ...              ...
145           6.7          3.0  ...  Iris-virginica            670.0
146           6.3          2.5  ...  Iris-virginica            630.0
147           6.5          3.0  ...  Iris-virginica            650.0
148           6.2          3.4  ...  Iris-virginica            620.0
149           5.9          3.0  ...  Iris-virginica            590.0

[150 rows x 6 columns]

In [ ]:
# Add additional column

df['sepal_length_v2'] = df['sepal_length'] * df['sepal_width']

df

     sepal_length  sepal_width  ...  sepal_length_v3  sepal_length_type
0             5.1          3.5  ...            510.0                Big
1             4.9          3.0  ...            490.0              Small
2             4.7          3.2  ...            470.0              Small
3             4.6          3.1  ...            460.0              Small
4             5.0          3.6  ...            500.0              Equal
..            ...          ...  ...              ...                ...
145           6.7          3.0  ...            670.0                Big
146           6.3          2.5  ...            630.0                Big
147           6.5          3.0  ...            650.0                Big
148           6.2          3.4  ...            620.0                Big
149           5.9          3.0  ...            590.0                Big

[150 rows x 8 columns]

In [ ]:
# Add additional column based on certain condition

df.loc[ (df.sepal_length < 5), 'sepal_length_type'] = 'Small'
df.loc[ (df.sepal_length > 5), 'sepal_length_type'] = 'Big'
df.loc[ (df.sepal_length == 5), 'sepal_length_type'] = 'Equal'

df.head()

   sepal_length  sepal_width  ...  sepal_length_v3  sepal_length_type
0           5.1          3.5  ...            510.0                Big
1           4.9          3.0  ...            490.0              Small
2           4.7          3.2  ...            470.0              Small
3           4.6          3.1  ...            460.0              Small
4           5.0          3.6  ...            500.0              Equal

[5 rows x 8 columns]

In [ ]:
# Using groupby function

df.groupby('flower_class')

In [ ]:
df.groupby('flower_class').count()

                 sepal_length  sepal_width  ...  sepal_length_v3  sepal_length_type
flower_class                                ...
Iris-setosa                50           50  ...               50                 50
Iris-versicolor            50           50  ...               50                 50
Iris-virginica             50           50  ...               50                 50

[3 rows x 7 columns]

In [ ]:
df.groupby('flower_class')['sepal_length'].mean()

flower_class
Iris-setosa        5.006
Iris-versicolor    5.936
Iris-virginica     6.588
Name: sepal_length, dtype: float64

In [ ]:
# Using groupby and agg function together

df.groupby('flower_class').agg(average_sepal_length_per_class = ('sepal_length', 'mean'),
                               median_sepal_length_per_class = ('sepal_length', 'median'),
                               sum_sepal_length_per_class = ('sepal_length', 'sum') )

                 average_sepal_length_per_class  ...  sum_sepal_length_per_class
flower_class                                     ...
Iris-setosa                               5.006  ...                       250.3
Iris-versicolor                           5.936  ...                       296.8
Iris-virginica                            6.588  ...                       329.4

[3 rows x 3 columns]

In [ ]:
# Filter the dataframe first, then groupby and aggregate the dataframe

df[df.flower_class.isin(['Iris-setosa', 'Iris-versicolor'])].groupby('flower_class').agg( average_sepal_length_per_class = ('sepal_length', 'mean'),
                                                                                          median_sepal_length_per_class = ('sepal_length', 'median'),
                                                                                          sum_sepal_length_per_class = ('sepal_length', 'sum') )

                 average_sepal_length_per_class  ...  sum_sepal_length_per_class
flower_class                                     ...
Iris-setosa                               5.006  ...                       250.3
Iris-versicolor                           5.936  ...                       296.8

[2 rows x 3 columns]

In [ ]:
# Aggregate dataframe using pivot_table function, with 1 value

pd.pivot_table(df, values = 'sepal_width', index = 'flower_class', aggfunc = ['mean', 'median'])

                       mean      median
                sepal_width sepal_width
flower_class
Iris-setosa           3.418         3.4
Iris-versicolor       2.770         2.8
Iris-virginica        2.974         3.0

In [ ]:
# Aggregate dataframe using pivot_table function, with multiple values


pd.pivot_table(df, values = ['sepal_width', 'sepal_length'], index = 'flower_class', aggfunc = ['mean', 'median'])

                        mean                   median
                sepal_length sepal_width sepal_length sepal_width
flower_class
Iris-setosa            5.006       3.418          5.0         3.4
Iris-versicolor        5.936       2.770          5.9         2.8
Iris-virginica         6.588       2.974          6.5         3.0

In [ ]:
# Groupby by more than 1 column

df.groupby(['flower_class', 'sepal_length_type']).agg(average_sepal_length_per_class = ('sepal_length', 'mean'),
                                                      median_sepal_length_per_class = ('sepal_length', 'median'),
                                                      sum_sepal_length_per_class = ('sepal_length', 'sum') )

                                   average_sepal_length_per_class  ...  sum_sepal_length_per_class
flower_class    sepal_length_type                                  ...
Iris-setosa     Big                                      5.313636  ...                       116.9
                Equal                                    5.000000  ...                        40.0
                Small                                    4.670000  ...                        93.4
Iris-versicolor Big                                      5.997872  ...                       281.9
                Equal                                    5.000000  ...                        10.0
                Small                                    4.900000  ...                         4.9
Iris-virginica  Big                                      6.622449  ...                       324.5
                Small                                    4.900000  ...                         4.9

[8 rows x 3 columns]